.heading-container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .container {
    position: relative;
    text-align: center;
    color: black;
  }
  
  .caption {
    color: black;
    font-family: 'Playfair Display', serif;
    font-size: 5vh;
    font-weight: bold;
  }
  
  .spacing p{
    margin-top: 3.5vh;
    margin-bottom: 3.5vh;
  }
  