.heading-container-page {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .centered-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6vw;
    font-family: 'Playfair Display', serif;
    color: white;
  }

  .container-page {
    position: relative;
    text-align: center;
    color: black;
  }
  
  .caption-page {
    color: black;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: bold;
  }
  .caption-sub-page {
    color: black;
    font-family: 'Playfair Display', serif;
    font-size: 3vh;
    font-style: italic;
  }
  
  .spacing-page p{
    margin-top: 3.5vh;
    margin-bottom: 3.5vh;
  }
  
  .text-page {
    color: black;
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    
  }

  .contact-container-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5vh;
    margin-left: auto;
  margin-right: auto;
  max-width: 250px;
  }
  
  .contact-row-page {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }
  
  .contact-row-page p {
    text-align: left;
  }

  .contact-row-page svg {
    margin-right: 2vh;
  }

  
  .name-page {
    color: black;
    font-family: 'Playfair Display', serif;
    font-size: 3.5vh;
    font-weight: bold;
  }

  .contact-page-icons-page {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .contact-page-icons-page a {
    margin: 0 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: transparent;
    border: none;
    font-size: 10vh;
  }
  
  .contact-page-icons-page a:focus,
  .contact-page-icons-page a:hover {
    color: grey;
  }
  
  .contact-page-icons-page .instagram-icon {
    background-color: white;
    color: black;
  }
  
  .contact-page-icons-page .facebook-icon {
    background-color: white;
    color: black;
  }
  
  .contact-page-icons-page .tiktok-icon {
    background-color: white;
    color: black;
  }
  
  .contact-page-icons-page .twitter-icon {
    background-color: white;
    color: black;
  }
  