.sticky-nav-bar{
    position: sticky;
    top: 10px;
    left: 10px;
    right: 5px;
    bottom: 5px;
    z-index: 10;
}

.nav-bar-text-elements{
    justify-content: right;
}

.nav-bar-spacing{
    margin-left: 4px;
    margin-right: 4px
}