.twocolumns {
  display: flex;
  flex-wrap: wrap;
  align-items: center; /* Add this line */
}

.twocolumns > * {
  width: 100%;
  padding: 5rem;
  text-align: center; /* Add this line */
}

@media (min-width: 768px) {
  .twocolumns > * {
    width: 50%;
  }
}

.backstory {
  font-size: 20px;
  text-align: center; /* Add this line */
}

.storybutton {
  font-size: 20px;
  font-family: '';
  margin: 0 auto; /* Modify this line */
  display: block; /* Add this line */
}

.storyheader {
  font-size: 90px;
  font-family: '';
  margin: 0 auto; /* Modify this line */
  display: block; /* Add this line */
}

