.heading-container {
  position: relative;
  text-align: center;
  color: white;
}

.container {
  position: relative;
  text-align: center;
  color: black;
}


.spacing p{
  margin-top: 3.5vh;
  margin-bottom: 3.5vh;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 7vw;
  font-family: 'Playfair Display', serif;
  color: white;
}

.header {
  color: black;
  font-family: 'Playfair Display', serif;
  font-size: 5vw;
}

.text {
  color: black;
  font-family: 'Playfair Display', serif;
  font-size: 2.5vh;
}
@media screen and (min-width: 1024px) {
  .text {
    font-size: 4vh; /* Increase the font size for larger screens */
  }
}

.caption {
  color: black;
  font-family: 'Playfair Display', serif;
  font-size: 5vh;
  font-weight: bold;
}
.caption-sub {
  color: black;
  font-family: 'Playfair Display', serif;
  font-size: 3vh;
  font-style: italic;
}
