.container2 {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  grid-gap: 20px; /* Gap between the columns */
}

.column2 {

  padding: 20px;
  display: flex;
  justify-content: center;
    align-items: center;
    margin-top: 50px;

}

.column1 {

  padding: 20px;
  margin-top: 20px;
  margin-bottom: 60px;
  margin-left: 60px;

}

.center2{
  display: flex;
  justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-right: 60px;
}


