.container2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px;
}

.column1 {
  flex: 1;
}

.column1 img {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.column2 {
  flex: 1;
  padding: 0 50px;
}

.centerText {
  text-align: center;
  margin-top: 20px;
}

.btn {

  color: #fff;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  
}

.confirmationMessage {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f9f9f9;
  padding: 10px;
  text-align: center;
}
.confirmationText {
  font-family: "Playfair Display", "serif";
  font-size: 2rem;
}
.confirmationbutton {
  font-family: 'Playfair Display', 'serif';
  margin: auto;
  display: block; /* Add this line */
}
