.card-layout{
    position: fixed;
    top: 15%;
    left: 25%;
    width: 50%;
    height: auto;
    z-index: 10;
    border-radius: 20px;
}

.center{
    display: flex;
    justify-content: center;
    text-align: center;
}