.background-image {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url('./tastingsimages/newtasting2.jpeg');
  background-size: cover;
  background-position: center;
}

.imagecenter {
  display: flex; /* Use flexbox */
  justify-content: center; /* Horizontally center the images */
  height: 100%;
}

.tasting-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.tasting-content h2 {
  color: white;
  font-size: 5vw;
  font-family: 'Playfair Display', serif;
  margin-bottom: 60px;
}

.tasting-content button {
  font-family: 'Playfair Display', serif;
  display: block;
  margin: 0 auto;
  padding: 5px 5px;
  font-size: 3vw;
  border-radius: 5px;
  width: 40%;
}
