.button-center {
    display: flex;
    justify-content: center;
    text-align: center;
  }


.wine-club-blurb {
    font-family: 'Playfair Display', serif;
    font-size: 3vh;

  }



  .heading-container {
    position: relative;
    text-align: center;
    color: white;
  };

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 7vw;
    font-family: 'Playfair Display', serif;
    color: white;
  };






