.rectangle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  background-color: black;
}

.leftcontainer,
.rightcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.leftcontent,
.rightcontent {
  text-align: center;
  font-family: 'Playfair Display', 'serif';
}

.email,
.phone {
  color: white;
}

.header {
  color: white;
  font-size: 25px;
}

.contacts-color {
  background-color: #0C0C0C;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  flex-wrap: wrap; /* Allow icons to wrap to the next line */
}

.social-icons a {
  margin: 5px; /* Adjust the margin as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: transparent;
  border: none;
  flex-basis: calc(50% - 10px); /* Display two icons per row with margin accounted for */
  max-width: 100%; /* Prevent icons from exceeding the container's width */
}

.social-icons a svg {
  width: 3vw; /* Adjust the icon size as needed */
  height: 3vw; /* Adjust the icon size as needed */
}
@media (min-width: 1000px) {
  .social-icons a svg {
  width: 1.5vw; /* Adjust the icon size as needed */
  height: 1.5vw; /* Adjust the icon size as needed */
  }
}


.social-icons a:focus,
.social-icons a:hover {
  color: grey;
}

.social-icons .instagram-icon {
  background-color: #E1306C;
  color: white;
}

.social-icons .facebook-icon {
  background-color: #1877F2;
  color: white;
}

.social-icons .tiktok-icon {
  background-color: #ffffff;
  color: black;
}

.social-icons .twitter-icon {
  background-color: #1DA1F2;
  color: white;
}
