.fixed-nav-bar{
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 3;
    
}

.nav-bar-text-elements{
    justify-content: right;
}

.nav-bar-spacing{
    margin-left: 4px;
    margin-right: 4px
}

.color-black{
    background-color: #0C0C0C
}

.login-page {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.3s ease-in-out;
  }
  
  .login-page.visible {
    opacity: 1;
    visibility: visible;
    
  }

.opacity{
    opacity: 0.93;
}

.register-page {
    opacity: 0;
    visibility: hidden;
    
  }
  
  .register-page.visible {
    opacity: 1;
    visibility: visible;
    
  }

  
