.fixed-nav-bar{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    
}

.nav-bar-text-elements{
    justify-content: right;
}

.nav-bar-spacing{
    margin-left: 4px;
    margin-right: 4px
}

.color-black{
    background-color: #0C0C0C
}


