.marginTop{
    margin-top: 40px;
}

.shoppingFont1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0vh;
    font-weight: bold;
    font-size: 50px;
    padding-top: 50px;
    font-family: '';
}

.image-container {
    display: flex;
    justify-content: left;
    align-items: left;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 0px;
    padding-bottom: 30px;
    max-width: 70%;
  }

  .image-container2 {
    display: flex;
    justify-content: right;
    align-items: right;
    max-width: 70%;
    
  }

  .imageArea {

    display: flex;
    flex-wrap:wrap;

    
   
  }

  .subscribebutton {
    display: flex;
  justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

